body {
  font-family: "Rockwell Extra Bold", "Rockwell Bold", monospace;
  background: url(img/skulls.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.container {
  background-color: rgba(0,0,0,.3);
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 40px 20px;
  border: 1px solid black;
  border-radius: 3px;
}

a:link {
  color: black;
}

a:visited {
  color:#21272A;
}

a:hover {
  color:#4E5C63;
}

a:active {
  color: black;
}

.container h1 {
  font-size: 40px;
  text-align: center;
}

.container h2 {
  font-size: 30px;
  text-align: center;
}

.password {
  text-align: center;
  padding: 10px 0px;
}

#sign_in input {
  margin-top: 20px;
}

#sign_in a {
  text-decoration: none;
  text-align: center;
  padding-left: 225px;
}

.username {
  text-align: center;
  padding: 10px 0px;
}

.submit input {
  background-color: rgba(0,0,0,.3);
  padding-top: 20px;
  text-align: center;
  text-shadow: 0 2px 0 rgba(0,0,0,0.2);
  color: #6DBFA9;
  border-radius: 3px;
  border: solid 1px rgba(0,0,0,.6);
  padding: 10px 15px;
  display: block;
  margin: auto;
  -webkit-transition: background 0.2s;
  background 0.2s;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;



}

#nav {
  margin-top: 10px;
}

#nav a {
  text-decoration: none;
  padding-left: 10px;
}


th {
  text-align: left;
}





