<% @decks.each do |deck| %>
  <ul>
    <li>
  <input type="radio" name="deck" value="<%= deck.id %>"><%= deck.name %>
    </li>
  </ul>
<% end %>
  <div class="submit">
    <input type="submit" value="Start Game">
  </div>
