<div class="container"
  <div id="create_account">
    <h1>Create account</h1>
    <form method="post" action="/create_account">
      <div class="username">
        <label>username</label></br>
        <input type="text" name="username">
      </div>
      <div class="password"
        <label>password</label></br>
        <input type="text" name="password">
      </div>
      <div class="submit">
        <input type="submit" value="Forward!">
      </div>
    </form>
  </div>
</div>

