<div class="container"
  <div id="create_account">
    <h1>Create account</h1>
    <div class="form">

      <form method="post" action="/create_account">
        <div class="username">
          <label for="username">Username</label></br>
          <input type="text" name="username">
        </div>
        <div class="password"
          <label for="password">password</label></br>
          <input type="text" name="password">
        </div>

        <div class="submit">
          <input type="submit" value="Create">
        </div>
      </form>

  </div>
</div>

