  <div id="create_account">
    <h1>Create account</h1>
    <form method="post" action="/create_account">
      <label>username</label>
      <input type="text" name="username">
      <label>password</label>
      <input type="text" name="password">
      <input type="submit" value="Forward!">
    </form>
  </div>

