<div class="container">
	<%= erb :_nav %>

	<h1>Choose your deck</h1>
  <div class="submit">
    <form action="/deck_selection" method="post">
      <%= erb :_populate_deck %>
    </form>
  </div>

</div>
