<div class="container dashboard">
	<%= erb :_nav %>
	<h1>Choose your deck</h1>
  <div class="form">
    <form action="/deck_selection" method="post">
      <%= erb :_populate_deck %>
    </form>
  </div>
</div>
