<div class="container">
	<%= erb :_nav %>
	<h1>Game Over</h1>
  <div class="correct_total">
	<%= @stats.correct_total %><p>correct answers</p>
  </div>
  <div class="incorrect_total">
	<%= @stats.incorrect_total %><p>incorrect answers</p>
  </div>
  <div class="skip_total">
  <p>Total skips: <%= @stats.skip_total %></p>
  </div>
  <div class="new_game">
  	<a href="/dashboard">New Game</a>
  </div>

