<div class="container">
	<%= erb :_nav %>
	<h1>Game Over</h1>
  <div class="correct_total">
	<%= @stat.correct_total %><p>correct answers</p>
  </div>
  <div class="incorrect_total">
	<%= @stat.incorrect_total %><p>incorrect answers</p>
  </div>
  <div class="new_game">
  	<a href="/deck/selection">New Game</a>
  </div>

