<div class="container">
  <div id="sign_in">
    <h1>Sign in</h1>
    <form method="post" action="/">
      <div id="username">
        <label>username</label></br>
        <input type="text" name="username">
      </div>
      <div id="password">
        <label>password</label></br>
        <input type="password" name="password">
      </div>
      <div id="submit">
        <input type="submit" value="Submit">
      </div>
    </form>
  </div>
  <div id="create">
    <h2>or</h2>
    <a href="/create_account">Create Account</a>
  </div>
</div>
