<div class="container">
  <div id="sign_in">
    <h1>Sign in</h1>
    <div class="form">

      <form method="post" action="/">
        <div class="username">
          <label for="username">Username</label></br>
          <input type="text" name="username">
        </div>
        <div class="password">
          <label>Password</label></br>
          <input type="password" name="password">
        </div>

        <div class="submit">
          <input type="submit" value="Submit">
        </div>

          <a href="/create_account">Create Account</a>
      </form>

    </div>
  </div>
</div>
