<div class="container">
  <div id="sign_in">
    <h1>Sign in</h1>
    <form method="post" action="/">
      <label>username</label>
      <input type="text" name="username">
      <label>password</label>
      <input type="text" name="password">
      <input type="submit" value="Submit">
    </form>
  </div>
  <div id="create">
    <h2>or</h2>
    <a href="/create_account">Create Account</a>
  </div>
</div>
