<div class="container">
  <h2>Login</h2>
  <form action='#' method="post">
    Username: <br/>
    <input type="text" name="username" value="<%= @user.username %>" />
    Password: <br/>
    <input type="text" name="password" value="<%= @user.password %>" />
    <input type="submit" name="Log In">
  </form>
</div>
